.event {
    padding: 20px;
    background-color: none !important;
  }

  .event .card {
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // width: max-content;
  }

  .event .card-body {
    padding: 20px;
  }

  .event img {
    max-width: 100%;
    height: auto;
  }

  .event p {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 767px) {
    .event .card {
      margin-bottom: 10px;
    }
  }

.event-name {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;

    strong {
    margin-right: 10px;
    }

    .wrap-text {
      word-wrap: break-word;
    }

    .name-value {
    font-weight: bold;
    text-transform: uppercase;
    }
}

.event-description {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

    .description-value {
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
    }
    }

    /* Breaks text after every 20 characters */
    @media (min-width: 576px) {
    .event-description .description-value {
    display: block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
    }
    .event-description .description-value:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    }
    .event-description .description-value p {
    display: inline-block;
    vertical-align: middle;
    }
    }

.card.movieinfo.bg-image {
  width: 500px;
  height: 750px;
  background-size: cover;
  position: relative;
}

.card.movieinfo.bg-image p:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 0;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card.movieinfo.bg-image:hover p:last-child {
  opacity: 1;
}

.card.movieinfo.bg-image p:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  text-align: right;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.card.movieinfo.bg-image p:first-child {
position: absolute;
top: 0;
left: 0;
margin: 10px 0 0 10px;
text-align: left;
color: white;
font-size: 24px;
font-weight: bold;
}