.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  padding: 10px 10px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: contents;
  align-items: center;
  padding-left: 20px;
}
.footer-links img {
  color: black;
  opacity: 0.50;
  text-decoration: none;
  padding: 1px 1px;
}
.footer-links img:hover {
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border: white 2px solid;
}
.footer .fa-heart {
  color: #D23333;
}
