.navbar {
  justify-content: space-between;
  background: white;
  justify-content: space-around;
  vertical-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 5px;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
