.choice {
  background-image: url(asset-path("choice.png"));
  // border: 1px solid black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 491px;
  width: 573px;
}
.event-banner {
  justify-content: space-around;
  img {
    object-fit: cover;
    height: 100%;
    padding: 0;
  }
  div {
    padding-left: 5px;
  }
}
.event-infos {
  // padding: 20px;
  display: flex;
  border-radius: 20px;
  // border: 1px solid #878787;
  flex-direction: column;
}

.col-md-5-eventdescription {
  border: 1px solid black;
}

/* // Tablet
@media (min-width: 768px) {
  .choice-mobile {
    display: none;
  }
}

// Desktop
@media (min-width: 992px) {
  .choice-mobile {
    display: none;
  }
}

// Huge
@media (min-width: 1280px) {
  .choice-mobile {
    display: none;
  }
} */

@media (max-width: 480px) {
  .event-banner .row-mt-5 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .event-banner img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .event-banner .col-md-5 {
    margin-bottom: 20px;
  }
  .event-infos {
    text-align: center;
    margin-bottom: 20px;
  }

  .col-md-6 {
    display: inline-block;
  }
}

.event-map {
  object-fit: cover;
  flex-grow: 1;
}
