.container-show {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas:
      "eventdescription eventdetails movieinfo-bg-image"
      "eventdescription eventdetails movieinfo-bg-image"
      "eventerquests eventerquests movieinfo-bg-image"
      "eventerquests eventerquests movieinfo-bg-image";
    overflow: auto;
  }


  .eventerquests {
    grid-row: 3;
    grid-column: 1 / span 2;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .choice {
    background-image: url(asset-path('choice.png'));
    // border: 1px solid black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 510px;
    width: 600px;
  }
