<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="info-card">
        <h1 class="profilecard text-center"><%= @user.nickname %></h1>
        <p><%= @user.biography %></p>
      </div>
    </div>
  </div>
</div>
