
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
    <h1 class="text-center title">Update the MovieNight!</h1>
      <%= render "form", event: @event %>
    </div>
  </div>
</div>
