<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
    <h1>Editing event</h1>
      <%= render "form", event: @event %>
      <br>
      <div d-flex>
        <%= link_to "Update", @event %> |
        <%= link_to "Back to events", events_path %>
      </div>
    </div>
  </div>
</div>
