<div id="<%= dom_id request %>">
  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= request.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= request.user_id %>
  </p>

</div>
