<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Editing request</h1>

      <%= render "form", request: @request %>

      <br>

      <div>
        <%= link_to "Show this request", @request %> |
        <%= link_to "Back to requests", requests_path %>
      </div>
    </div>
  </div>
</div>
