<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Requests</h1>
        <div id="requests">
          <%= @requests.where(user_id: current_user, status: 'pending').each do |request| %>
            <p>
              <a><strong>
                <%= link_to "#{request.event.name}", event_path(request.event) %>
              </strong></a>
            </p>
            <p>
              <strong>Movie:</strong>
              <%= request.event.movie.title %>
            </p>
            <p>
              <strong>Status:</strong>
              <%= request.status %>
            </p>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
