<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render @request %>

      <div>
        <%= link_to "Edit this request", edit_request_path(@request) %> |
        <%= link_to "Back to requests", requests_path %>
        <%= button_to "Delete this request", @request, method: :delete %>
      </div>
    </div>
  </div>
</div>
