<div class="banner">
    <div class="container">
      <h1><strong>Movie Night!</strong></h1>
      <p>Discover new <strong>Movies</strong> and <strong>Friends</strong>!</p>
      <br>
      <%= link_to "Join the Comunity", events_path, class: "btn btn-warning"%>
    </div>
</div>
  <br>
  <h2 class="text-center">MovieTime! in short:</h2>
  <br>
  <div class="cards-info flexbox">
    <div class="card-info">
      <%= image_tag 'find.png' %>
      <h4>Find Your Next MovieNight</h4>
      <span>
        Choose from a wide collection of user-created MovieNights.
      </span>
    </div>

    <div class="card-info">
      <%= image_tag 'memories.png' %>
      <h4>Create a MovieNight to Remember</h4>
      <span>
        Quickly gather a group of fellow movie lovers and share your place to
        enjoy your favorite movies together.
      </span>
    </div>

    <div class="card-info">
      <%= image_tag 'movienight.png' %>
      <h4>Join the Movie Night Community</h4>
      <span>
        Build a reputation as cinema addict in your city and make new friends!
        Join us today and start making movie memories that will last a lifetime.
      </span>
    </div>
</div>


<div class="footer">
  <div class="footer-links">
    <img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/28396318?v=4" />
    <img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/48437522?v=4" />
    <img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/122130648?v=4" />
    <img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/111685164?v=4" />
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Batch#1103 Le Wagon
  </div>
</div>
