<div class="banner">
    <div class="container">
      <h1><strong>MovieNight!</strong></h1>
      <p>Discover new <strong>Movies</strong> and <strong>Friends</strong>!</p>
      <br>
      <%= link_to "Join the Comunity", events_path, class: "btn btn-warning"%>
    </div>
</div>

  <br>
  <h2 class="text-center">How MovieNight works</h2>
  <br>
  <div class="cards-info flexbox">
    <div class="card-info">
      <%= image_tag 'find.png' %>
      <h4>Find Your Next MovieNight</h4>
      <span>
        Choose from a wide collection created by the MovieNights community.
      </span>
    </div>

    <div class="card-info">
      <%= image_tag 'memories.png' %>
      <h4>Create a memorable MovieNight</h4>
      <span>
        Share your place with fellow movie lovers and experience movies as never before.
      </span>
    </div>

    <div class="card-info">
      <%= image_tag 'movienight.png' %>
      <h4>Join the MovieNight Community</h4>
      <span>
        Build a reputation and make new friends!
        Join us today and start making movie experiences that will last a lifetime.
      </span>
    </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/DrmedPatrickSchur" target="_blank"><img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/28396318?v=4"/></a>
    <a href="https://github.com/a160v" target="_blank"><img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/48437522?v=4"/></a>
    <a href="https://github.com/nicoloadamo" target="_blank"><img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/122130648?v=4"/></a>
    <a href="https://github.com/VadimMiropolskyi" target="_blank"><img class="avatar-bordered" alt="avatar-large" src="https://avatars.githubusercontent.com/u/111685164?v=4"/></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon Batch#1103
  </div>
</div>
