<div class="container">
    <div class="break-out">
        <div class="banner bg-dark">
            <div class="container text-light">
                <h1><strong>Movie Night</strong> <br> share your <strong>movie</strong> evening!</h1>
            </div>

        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
            <div class="search-form-control form-group home-search">
                <input class="form-control string required home-form" type="text" name="search[query]" id="search_query" />
                <button name="button" type="submit" class="btn btn-warning">
                <i class="fas fa-search"></i> Search
                </button>
            </div>
        <% end %>
       </div>
    </div>

  <div class="cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
  </div>
</div>


<footer></footer>

