<div class=container>
  <%# <p>Find me in app/views/user_events/index.html.erb</p> %>
  <h1>These are my Events:</h1>
  <div class="card-events" id="myevents">
    <% current_user.events.each do |event| %>
      <%= render "card_event", event: event %>
    <% end %>
  </div>
</div>
