<div class=container>
  <%# <p>Find me in app/views/user_events/index.html.erb</p> %>
  <%# <%= current_user.events.count %>
  <h1>Hosting:</h1>
  <div id="carouselExampleControls" class="carousel slide card-event" data-bs-ride="carousel">

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <div class="carousel-inner">
      <% current_user.events.each_with_index do |event, index| %>
        <%= render "card_event", event: event, index: index %>
      <% end %>
    </div>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>


</div>
