
.btn-danger { //used to confirm and go on actions
  border-radius: 50px;
  height: 30px;
  background: linear-gradient(to right, #B33030 50%, #CC4949 50%);
  text-decoration: none;
}

.btn-primary { //used to cancel and go back actions
  border-radius: 50px;
  height: 30px;
  background: linear-gradient(to right, #2553F5 50%, #3E6CFF 50%);
  text-decoration: none;
}

.btn-warning { //used to other actions as search
  border-radius: 50px;
  height: 30px;
  background: linear-gradient(to right, #F5CA55 50%, #FFE26D 50%);
  text-decoration: none;
}


.btn-danger {
right: 21px;
bottom: 34px;
border-radius: 50px;
height: 39px;
}

.btn-primary {
left: 17px;
bottom: 34px;
border-radius: 50px;
height: 39px;
}


