.card-event {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  .card-event-infos {
    position: relative;
    background: white;
    opacity:  0.75;
    bottom: 0;
    padding: 16px;
    min-height: 250px;
    width: 100%;
  }
}

.carousel-item {
  margin-right: 60px;
  margin-left: 60px;
  margin: auto;
  width: 100%;
}
.card-event > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;

}

.card-event .card-event-infos {
  position: relative;
  background: white;
  opacity:  0.75;
  bottom: 0;
  padding: 16px;
  min-height: 250px;
}

.card-event .avatar-large {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 50px;
  opacity: 1;
}

.cards-event {
  display: flex;
  & > a {
    text-decoration: none;
    width: 100%;
  }
}
