.form-event {
    .form-control {
      border-radius: 50px;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid #bbb;
      &:focus {
        box-shadow: none;
        border-bottom: 2px solid #007bff;
      }
    }
    button {
      border-radius: 10px;
      padding: 10px 30px;
    }
  }

.ce-btn {
    border-radius: 50px;
}

.icon {
    text-align: right;
    a {
      color: black;
      &:hover {
        text-decoration: none;
    }
    span {
      i {
        color: red;
        font-size: 16px;
      }
    }
  }
}

// .page-background {
//   background-image: url("https://res.cloudinary.com/diuodanig/image/upload/v1678805939/development/backg_wuq6mz.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
