.movie-info {
  position: relative;
  background: white;
  opacity:  0.75;
  bottom: 0;
  padding: 16px;
  height: 500px;
  width: 100%;
}

.movie-info.bg-image {
  grid-area: movie-info-bg-image;
  grid-row: 1 / span 3;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.movie-info.bg-image p:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 0;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-info.bg-image:hover p:last-child {
  opacity: 1;
}

.movie-info.bg-image p:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  text-align: right;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.movie-info.bg-image p:first-child {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0 0 10px;
  text-align: left;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
