.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-warning {
  border-radius: 50px;
  background: linear-gradient(to right, #FFD700 47%, #FFA500 53%);
}

.btn-warning > a {
  text-decoration: none;
  color: white !important;
  font-weight: bold;
}
